/* Sticky footer styles
-------------------------------------------------- */
/* html { */
/*   position: relative; */
/*   min-height: 100%; */
/* } */
/* body { */
/*   Margin bottom by footer height */
/* /*   margin-bottom: 60px; */ */
/* } */
/* .footer { */
/*   position: absolute; */
/*   bottom: 0; */
/*   width: 100%; */
/*   Set the fixed height of the footer here */
/*   height: 60px; */
/*   background-color: #f5f5f5; */
/* } */


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/* .container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
} 	 	 */
#tittle{
	margin-top: 100px;
	max-width: 100%;
	min-height:50px;
	text-align: left;
	background-color:#E6E6E6;
	 
}

#tittle h4{
	margin-top:5px;
}



#table{
	
	
	max-height: 20%;
	max-width: 100%;
	overflow-y: scroll;
	overflow:auto;
}

#sernew{
	margin-left:2%;
	margin-right:2%;
	max-height: 5%;
	max-width: 100%;
}

.inactive-row{
	background-color: 	#E6E6E6;
}
