*{
	margin: 0;
	padding:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
html {
	overflow-y:scroll;
	min-height:100%;
	-webkit-text-size-adjust:100%
}
body {
    position: relative;
	margin: 0;
	padding: 0;
	overflow: auto;
	line-height: 18px;
	background: #80A2A9;
	
}