 html {
  position: relative;
  min-height: 100%;
}
body {
/*   Margin bottom by footer height */
/*   margin-bottom: 60px; */
/*   padding-top: 40px; */
/*   overflow-y:auto;   */
}
@media screen and (max-width: 768px) {
    body { padding-top: 40px; }
}
@media screen and (max-width: 320px) {
    body { padding-top: 40px;  }
    #schema{margin-left: -10%;}
	    .footer {
	  position: relative;
	}
	.botones a{
		font-size: small;
	}
}
@media screen and (max-width: 360px) {
    body { padding-top: 40px;  }
    #schema{margin-left: -10%;}
	    .footer {
	  position: relative;
	}
	.botones h4 {
		font-size: 10px;
	}
}




.footer {
  position: absolute;
  bottom: 0;
/*   Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5; 
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/* .container {
  width: auto;
  max-width: 100%;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
} */

#schema{
	
	/* padding: 5% 0; */
	
	color: #555555;
	font: 14px/20px 'PT Sans', Arial, Helvetica, sans-serif;
    /* border-top: 1px solid rgba(0, 0, 0, 0.15); */
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
	min-height: 100%;
	
}
#menu1{
	/* float:left; */
	/* width: 23%;
	min-width: 300px;
	margin-left: 0px;
	margin-top: 2%; */
	display: inline-block;
	line-height: 18px;
}
#myScrollspy{
	width: 100%	
}
ul{
	list-style: none;
}
li{
	
}
li .menu{
	color:#494949;
	display: block;
	padding: 15px 5px;
	background: #e9e9e9;
	font-size: 16px;
	text-decoration: none;	
}
li a:hover{
	text-decoration: none;	
	background: #1a95d5;
	color:#fff;
}
#contenido{
	/* float:left;
	margin-top: 2%;
	margin-left:5px;
	width: 70%; */
	background: #fff;
	/* min-height: 100%; */
	/*min-width: 640px;*/
	
	display: inline-block;
	line-height: 18px; 
	overflow:hidden;
}
#content{
	width: 100%	;
}


#Calendario {
    position:relative;
    width:100%;
     min-width:571px;
    padding-top:5%;
    padding-bottom:50%;
    height:0;
    overflow:auto;
  }
  #Calendario iframe {
    position:absolute;
    width:100%;
    height:80%;
     overflow:auto;
  }



#myCarousel{
	width: 100%;
	/* height: 150%; */	
}

.centrados{
	margin:70px auto 20px;
	padding-left:100px;
 	text-align:center;
}
.centrados div{
	max-width: 30%;
 	overflow:hidden;
	 zoom: 1;
 	*display: inline;
 	display: inline-block;
 	vertical-align: top;
	
}

.botones{
	width: 100%;
	height: 100%;
}
.botones img {
	margin-left: 50%;
	margin-right: 50%;
}

/**
	Catalogos
*/
.tittle{
 	margin-top: 5%; 
	max-width: 100%;
	min-height:50px;
	text-align: left;
	background-color:#E6E6E6;
	 
}

.tittle h4{
	margin-top:5px;
}



#table{
	max-height: 20%;
	max-width: 100%;
	overflow-y: scroll;
	overflow:auto;
}

#sernew{
	margin-left:2%;
	margin-right:2%;
	max-height: 5%;
	max-width: 100%;
}

.inactive-row{
	background-color: 	#E6E6E6;
}

//GENERAL VIEW
.centerview{
	margin-top: 200px;
}

