#form1{
width: 100%;
margin: auto;
height: auto;
min-height:100%;
	
}

.control:hover
{
    opacity: 0.8;
}

/*NEW*/
.control.right {
    right: 12px;
    left: auto;
}


div{
text-align: center;
}

.mensaje{
	margin-top: 80px;
}